body {
    background: #ebebeb;
    font-family: "Arial";
}

.ui-header {
    border: 0;
    background: #6e6e6e;
}

.ui-header .ui-title {
    font-weight: bold;
    text-align: left;
    text-shadow: 0 0px 0px;
    font-size: 1.2em;
}

.ui-body-a,.ui-body-b,.ui-body-c {
    font-family: arial, helvetica, sans-serif;
}

#main {
    width: 505px;
    margin: 50px auto 0px auto;
}

#main .title {
    margin-left: 5px;
    font-size: 34px;
    font-weight: bold;
    color: #6e6e6e;
}

#main .body {
    margin-top: 20px;
    background: #5cbae1;
    border-radius: 8px;
    color: white;
    padding: 11px;
}

#main .header {
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 20.25px;
    margin-left: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

#main .box {
    background-color: white;
    color: #989898;
    padding: 10px 25px 5px 25px;
    margin: 0px 11px;
    border-radius: 12px;
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, .31);
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, .31);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, .31);
}

#main p {
    margin: 5px 2px;
    font-size: 12.25px;
    text-align: center;
}

#main .box p {
    font-weight: bold;
}

#main .undertext {
    font-size: 12.25px;
    margin: 10px 20px 20px 20px;
    letter-spacing: .5px;
}