#mapcanvas {
	border: 6px solid #ccc;
	float: left;
}

#placeslist {
	margin: 0px;
	height: 100%;
	border: 6px solid #ccc;
	border-left: none;
	overflow: auto;
}

#placeslist li {
	list-style-image: none;
	list-style-type: none;
	padding: 20px 5px;
}